@import url('./normalize.css');
@import url('./fonts.css');

:root {
	/* Высота/ширина, контейнеры и т д  */
	--container-width: 1160px;
	--container-padding-x: 40px;

	/* Шрифты */
	--font-family: 'Roboto';
	/* Цвета */
	--primary-color: #1f4d36;
	--second-color: #fff;
	--third-color: #f1eaba;
	--fourth-color: #f2f4ea;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.3;
	color: var(--primary-color);
	background-color: var(--second-color);
}
