.section_platform {
	margin-top: 161px;
	padding: 100px 0;
	background: var(--primary-color);
}

.section_power {
	display: flex;
	margin-top: 250px;
	gap: 32px 0;
	flex-direction: column;
	align-items: center;
}

.section_faqs {
	display: flex;
	margin-top: 250px;
	justify-content: space-between;
}

.section_pluses {
	padding: 100px 0;
	background: var(--primary-color);
	color: var(--fourth-color);
}

.section_best {
	display: flex;
	margin-top: 250px;
	gap: 32px 0;
	flex-direction: column;
	align-items: center;
}

.section_join {
	padding: 100px 0;
	background: #cfe3cc;
}
