.section_platform {
	padding: 100px 0;
	background: var(--primary-color);
}

.section_power {
	display: flex;
	margin-top: 250px;
	gap: 32px 0;
	flex-direction: column;
	align-items: center;
}

.section_faqs {
	display: flex;
	margin-top: 250px;
	justify-content: space-between;
}
