.best__subTitle {
	padding: 2px 8px;
	font-size: 12px;
	line-height: 1.6;
	border-radius: 4px;
	background: var(--third-color);
}

.best__title {
	font-size: 92px;
	line-height: 1;
	text-align: center;
}

.best__desc {
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
}

.best__btn {
	padding: 16px 60px;
	font-size: 17px;
	line-height: 1;
	border-radius: 100px;
	background: var(--primary-color);
	color: var(--second-color);
}
