.faqs__qa {
	display: flex;
	max-width: 565px;
	gap: 64px 0;
	flex-direction: column;
}

.faqs__title {
	font-size: 52px;
	line-height: 1.1;
}

.faqs__questions {
	display: flex;
	font-size: 28px;
	justify-content: space-between;
	list-style: none;
}

/* add svg icon from ../../images/icon/plus.svg */
.faqs__questions::after {
	content: url('../../images/icons/plus_icon.svg');
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	background: var(--primary-color);
	color: var(--fourth-color);
}

.faqs__answer {
	margin-top: 38px;
	padding: 2px 0 31px 0;
	font-size: 18px;
	border-top: 1px solid var(--third-color);
	border-bottom: 1px solid var(--primary-color);
}
