header {
	max-width: 100vw;
	width: 100%;
	background: var(--fourth-color);
}

nav {
	display: flex;
	padding: 1rem 0;
	align-items: center;
}

.nav__list {
	justify-self: center;
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: auto;
	gap: 0 40px;
	list-style: none;
}

.nav__link {
	font-size: 15px;
	text-decoration: none;
	transition: font-size 0.2s ease;
	color: var(--primary-color);
}

.nav__link:hover {
	font-size: 16px;
	text-transform: uppercase;
}

.nav__btn {
	margin-left: auto;
	margin-right: 60px;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 100px;
	border: 1px solid var(--primary-color);
	background: transparent;
	transition: font-size 0.2s ease;
	color: var(--primary-color);
	justify-self: end;
}

.nav__btn:hover {
	font-size: 16px;
	text-transform: uppercase;
}
