.hero {
	display: flex;
	margin-top: 42px;
	padding-bottom: 76px;
	justify-content: space-between;
	align-items: center;
}

.hero__texting {
	display: flex;
	max-width: 470px;
	margin-top: 160px;
	padding: 0;
	gap: 28px 0;
	flex-direction: column;
	align-items: start;
}

.hero__title {
	font-size: 130px;
	line-height: 1;
	color: var(--primary-color);
}

.hero__desc {
	margin-top: 38px;
	font-size: 18px;
	color: var(--primary-color);
}

.hero__btn {
	padding: 20px 60px;
	border-radius: 100px;
	font-size: 15px;
	background: var(--primary-color);
	color: var(--fourth-color);
}

.hero__images {
	position: relative;
}

.hero__small {
	position: absolute;
	bottom: -115px;
	left: -70px;
}
