.platform {
	display: flex;
	gap: 58px 0;
	flex-direction: column;
	align-items: center;
}

.platform__title {
	font-size: 72px;
	line-height: 1;
	text-align: center;
	color: var(--fourth-color);
}

.platform__desc {
	max-width: 671px;
	font-size: 18px;
	text-align: center;
	color: var(--fourth-color);
}

.platform img {
	align-self: flex-end;
	margin-bottom: -250px;
	padding-top: 200px;
}
