.pluses {
	display: flex;
	gap: 58px 0;
	flex-direction: column;
	align-items: center;
}

.pluses__title {
	max-width: 732px;
	font-size: 71px;
	text-align: center;
}

.pluses__desc {
	max-width: 683px;
	font-size: 19px;
	line-height: 1.2;
	text-align: center;
}

.pluses__cards {
	display: grid;
	grid-template-columns: repeat(3, 273px);
	gap: 0 104px;
}

.pluses__card {
	display: flex;
	gap: 35px 0;
	flex-direction: column;
	align-items: center;
}

.pluses__image {
	padding: 19px;
	border-radius: 9px;
	border: 1px solid var(--second-color);
}

.pluses__card__title {
	font-size: 28px;
	line-height: 1;
	text-align: center;
}

.pluses__card__desc {
	max-width: 246px;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
}
